<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <span
      >Kết thúc điều tra vụ Việt Á, Cơ quan Cảnh sát điều tra Bộ Công an đề nghị
      truy tố 6 bị can tội "Nhận hối lộ". Trong số đó có ông Phạm Duy Tuyến (cựu
      Giám đốc CDC Hải Dương). Theo kết luận điều tra, từ ngày 1/2/2021, ông
      Tuyến đã thỏa thuận, thống nhất với Chủ tịch Việt Á Phan Quốc Việt và chỉ
      đạo ông Bùi Đình Long (Trưởng khoa Dược vật tư y tế) làm việc với ông Vũ
      Đình Hiệp (Phó TGĐ Công ty Việt Á) để CDC Hải Dương nhận test xét nghiệm
      và các vật tư, sinh phẩm y tế khác của Công ty Việt Á để sử dụng
      trước.</span
    >
  </body>
</html>
