<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <span
      >Trước khi CDC Hải Dương hợp thức hồ sơ đấu thầu, thanh toán tiền cho Công
      ty Việt Á, ông Tuyến và bị can Phan Quốc Việt thỏa thuận, thống nhất việc
      Công ty Việt Á sẽ chi cho ông Tuyến và một số lãnh đạo tỉnh Hải Dương số
      tiền từ 20- 25% giá trị hợp đồng, để CDC Hải Dương ưu tiên sử dụng test
      xét nghiệm của Việt Á (hạn chế sử dụng test xét nghiệm của các đơn vị cung
      cấp khác) và tạo điều kiện ký hợp đồng, thanh toán tiền cho Công ty Việt Á
      theo đơn giá mà công ty đưa ra.</span
    >
  </body>
</html>
