<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang tin tức</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header class="border">Chào mừng đến với trang sự kiện</header>
    <main class="py-5">
      <div class="container">
        <p class="text-center">
          U23 Việt Nam khởi đầu giải U23 Đông Nam Á 2023 đầy thuận lợi bằng
          chiến thắng với tỉ số 4-1 trước U23 Lào ở bảng C, chiều 20/8.
        </p>
        <ul class="navbar">
          <li class="navbar-item">
            <a class="navbar-link" href="">Event1</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="">Event2</a>
          </li>
        </ul>
      </div>
    </main>
    <footer class="border">
      <p class="text-center">Copyright &copy; by Duc Thanh</p>
    </footer>
  </body>
</html>
