<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="email-container">
      <h1>Email gửi đến:</h1>
      <p><%= emailAddress %></p>

      <h2>Tiêu đề:</h2>
      <p><%= emailTitle %></p>

      <h2>Nội dung:</h2>
      <p><%= emailContent %></p>
    </div>
  </body>
</html>
