<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
    />
  </head>
  <style>
    a {
      margin-left: 1300px;
      /* margin-top: 200px; */
    }
  </style>
  <body>
    <h3 class="text-center">Gửi mail đến sếp Hoàng An</h3>
    <form action="" method="post">
      <div class="mb-3">
        <label for="">Địa chỉ Email</label>
        <input
          type="text"
          name="email"
          class="form-control"
          placeholder="Địa chỉ Email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="">Tiêu đề</label>
        <input
          type="text"
          name="title"
          class="form-control"
          placeholder="Tiêu đề"
          required
        />
      </div>
      <div class="mb-3">
        <label for="">Nội dung</label>
        <input
          type="text"
          name="content"
          class="form-control"
          placeholder="Nội dung"
          required
        />
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Gửi mail</button>
      </div>
    </form>
    <p><a href="/send/getEmail">Xem lịch sử đã gửi</a></p>
  </body>
</html>
