<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <style>
      body {
        text-align: center;
        background-image: url(https://media-cdn-v2.laodong.vn/Storage/NewsPortal/2022/8/23/1084256/295497942_2922294937.jpg);
        background-size: 100%;
        color: #fff;
      }
      button {
        width: 100px;
        height: 20px;
        color: #fff;
        background-color: rgb(16, 168, 77);
        border-radius: 5px;
      }
      p {
        margin-top: 250px;
      }
    </style>
  </head>
  <body>
    <p>{success.mess}</p>
    <a href="/">
      <button type="submit">Back</button>
    </a>
  </body>
</html>
