<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang tin tức</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header class="border">Chào mừng đến với trang tin tức</header>
    <main class="py-5">
      <div class="container">
        <p class="text-center">
          F-16 được trang bị hai quả bom nặng 907 kg, hai tên lủa không đối
          không AIM-9, hai tên lửa không đối không AIM-120 và hai thùng nhiên
          liệu bên ngoài.
        </p>
        <ul class="navbar">
          <li class="navbar-item">
            <a class="navbar-link" href="">New1</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="">New2</a>
          </li>
        </ul>
      </div>
    </main>
    <footer class="border">
      <p class="text-center">Copyright &copy; by Duc Thanh</p>
    </footer>
  </body>
</html>
