<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <span>
      Quá trình làm việc với lực lượng chức năng, bà Đinh Thị Út (52 tuổi, trú
      quận Đồ Sơn), trưởng nhóm "bông hồng đen, cho hay, nhóm của mình thuộc một
      tổ chức phi chính phủ, được thành lập với chức năng, nhiệm vụ là thông
      tin, tuyên truyền, tư vấn, nhằm ngăn chặn lây nhiễm HIV/AIDS trong nhóm
      người sử dụng ma túy, các vấn đề về sức khỏe sinh sản... trong độ tuổi từ
      16-24. Nhóm này đã thuê nhà số 44 Nguyễn Hữu Cầu, phường Hải Sơn để làm
      văn phòng. Trước khi được phát hiện, nhóm này đã tổ chức lấy máu xét
      nghiệm của hơn 400 học sinh ở TP Hải Phòng mà không thông qua ban giám
      hiệu trường, chính quyền địa phương, phụ huynh. Ông Lưu Đình Dũng, Chủ
      tịch UBND phường Hải Sơn cho biết, nhóm "bông hồng đen" chưa cung cấp được
      đầy đủ hồ sơ pháp lý về việc tổ chức hoạt động theo quy định. Hiện, UBND
      phường Hải Sơn đã tạm dừng hoạt động của nhóm "bông hồng đen" trên địa
      bàn, yêu cầu nhóm cung cấp hồ sơ pháp lý về việc tổ chức hoạt động theo
      quy định.
    </span>
  </body>
</html>
