<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <span>
      Công an TP Hà Nội đã khởi tố vụ án, khởi tố bị can, bắt tạm giam Nguyễn
      Đức Trung (SN 1992, ở huyện Tam Dương, Vĩnh Phúc) để điều tra về hành vì
      bắt cóc nhằm chiếm đoạt tài sản. Trung là bị can đã bắt cóc bé trai ở khu
      đô thị Việt Hưng (phường Việt Hưng, quận Long Biên, Hà Nội) và yêu cầu gia
      đình bé trai đưa 15 tỷ đồng để chuộc con.
    </span>
  </body>
</html>
