<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Project-B</h1>
    <% if(user_Id) { %>
    <a href="http://127.0.0.1:3000/auth/logout">Đăng xuất</a>
    <%} else {%>
    <a href="http://127.0.0.1:3000/auth/login">Đăng nhập</a>
    <%}%>
  </body>
</html>
