<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng nhập thành công</title>
    <style>
      h1 {
        color: brown;
        text-align: center;
        margin-top: 170px;
      }
      body {
        background-color: khaki;
      }
      button {
        width: 130px;
        height: 30px;
        border-radius: 6px;
      }
      form {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Đăng nhập thành công</h1>
    <form action="" method="POST">
      <button type="submit">Đăng Xuất</button>
    </form>
  </body>
</html>
