<form action="" method="post">
  <div class="">
    <label for="">Email</label>
    <input type="email" name="email" placeholder="Email.." />
  </div>
  <div class="">
    <label for="">Password</label>
    <input type="password" name="password" placeholder="Password.." />
  </div>
  <button class="btn btn-primary" type="submit">Enter</button>
  <!-- <a href="/auth/login">Đăng xuất</a> -->
</form>
