<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
    />
    <style>
      .navbar-link {
        text-decoration: none;
        color: black;
      }
      header {
        background-color: darkgray;
      }
      .navbar-item {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <header class="border">
      <div class="container">
        <ul class="navbar">
          <li class="navbar-item">
            <a class="navbar-link" href="/home">Trang chủ</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/new">Tin tức</a>
          </li>
          <li class="navbar-item">
            <a class="navbar-link" href="/event">Sự kiện</a>
          </li>
        </ul>
      </div>
    </header>
    <main class="py-5">
      <div class="container">content</div>
    </main>
    <footer class="border">
      <p class="text-center">Copyright &copy; by Duc Thanh</p>
    </footer>
  </body>
</html>
